* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.product-card img {
    width: 300px;
    height: auto;
}


.header {
    width: 100%;
    
    display: flex;
    height: 90px;
    align-items: center;
    column-gap: 500px;
    justify-content: center;
    box-shadow: 0px 0 10px 0px #000;
    margin-bottom: 100px;
}

.header-item-list {
    display: flex;
    column-gap: 30px;
}

.container {
    max-width: 1300px;
    margin-inline: auto;
}

.main {
    display: flex;
    column-gap: 70px;
}

.product-cards {
    display: flex;
    gap:40px;
    margin-block: 70px;
    flex-wrap: wrap;
    width: 100%;
    
}

.product-list-name {
    font-size: 50px;
}




.product-card, .main-catalog-link {
    display: flex;
    flex-direction: column;
    border: 1px solid #cfcece;
    box-shadow: 0px 0px 10px 0px #5e5e5e;
    border-radius: 20px;
    text-align: center;
    row-gap: 30px;
    overflow: hidden;
    padding-block: 10px;
    
    transition-duration: 0.5s;

}

.product-card:hover, .main-catalog-link:hover {
    transform: scale(1.1);
}

.price {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 25px;
    font-weight: 700;
}

.price p {
    font-size: 15px;
    font-weight: 300;
    text-decoration: line-through;
    color:#5e5e5e
}


.main-catalog {
    border-right: 2px solid #e2e1e1;
    padding-right: 30px;
}

.catalog-name {
    font-size: 45px;
}

.main-catalog-list {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    row-gap: 20px;
}

.main-catalog-link {
    
    height: 30px;
    border-radius: 10px;
    width: 200px;
    align-items: center;
    justify-content: center;
    
}

.selected{
    
    border-color: #090909!important;
    transform: scale(1.1);
}


.detail-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.detail-page img {
    max-width: 100%;   
}

.description {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

}
.description .pricce {
    display: flex;
    column-gap: 10px;
    font-size: 30px;
    align-items: center;
    font-weight: 600;
}

.product_name {
    font-size: 60px;
}

.price_without_discount {
    font-size: 25px;
    font-weight: 300;
    text-decoration: line-through;
    color:#5e5e5e
}

.description p{
    max-width: 500px;
}

.table-header {
    display: flex;
    border-bottom: 1px solid #5e5e5e;
    padding-bottom: 25px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 15px;
}

.table-header-right-side-bar {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.table-header-left-side-bar {
    display: flex;
    align-items: center;
}


.cart-name {
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
}

.cart-is-empty {
    margin-top: 50px;
    text-align: center;
}

.cart-is-empty h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.table-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #5e5e5e;
    padding-inline: 20px;
}


.table-item img {
    height: 200px;
    width: auto;
}
.table-item-left-side-bar {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.table-item-right-side-bar {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.table-item-right-side-bar input {
    max-width: 40px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #5e5e5e;

}
.table-item-left-side-bar button {
    border: 1px solid #5e5e5e;
    box-shadow: 0px 0px 10px 0px #5e5e5e;
    background-color: #fff;
    padding: 10px 15px;
    margin-top: 30px;
    border-radius: 10px;
}

.table-header {
    padding-inline: 20px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:focus{
    outline: none;
}

.total-price-cart {
    float: right;
    padding-right: 20px;
    padding-block: 30px;
}


.cart-data {
   
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center;     /* по вертикали */
    width: 15px;
    aspect-ratio: 1;
    border: 1px solid #5e5e5e;
    border-radius: 50%;
    position: absolute;
    top: -13px;
    left: 28px;
    font-size: 10px;
}



.header-link.cart {
    position: relative;
}

